<template>
    <div class="message-list">
        <messages-list-item
                v-for="msg of messages"
                :key="msg.id"
                v-bind="msg"
                :owner="msg.username === myself"
                :color="color(msg.username)"
        />
    </div>
</template>

<script>
import MessagesListItem from '@/components/room/messages/MessagesListItem.vue';

export default {
  props: {
    messages: {
      type: Array,
      required: true,
    },
    myself: {
      type: String,
      required: true,
    },
    colors: {
      type: Object,
      required: true,
    },
  },
  components: { MessagesListItem },
  methods: {
    color(username) {
      return this.colors[username];
    },
  },
};
</script>

<style scoped lang="scss">
    .message-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
</style>
