<template>
    <div class="message" :class="{primary: owner}">
        <h5 v-if="!owner" :style="{color: color}">{{username}}</h5>
        <div class="message-content">
            <span class="text">{{text}}</span>
            <span class="time-helper" />
            <span class="time" :title="fullDate">
                <span>
                    {{time}}
                </span>

                <span class="icon" v-if="owner">
                    <v-icon v-if="waiting">access_time</v-icon>
                    <v-icon v-else>check</v-icon>
                </span>
            </span>
        </div>

    </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    created_at: {
      type: String,
      required: true,
    },
    username: {
      type: String,
      required: true,
    },
    owner: {
      type: Boolean,
      required: true,
    },
    waiting: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      required: true,
    },
  },
  computed: {
    datetime() {
      return new Date(this.created_at);
    },
    time() {
      const datetime = this.datetime;
      const minutes = datetime.getMinutes();
      return `${datetime.getHours()}:${minutes < 10 ? `0${minutes}` : minutes}`;
    },
    fullDate() {
      const datetime = this.datetime;
      const year = datetime.getFullYear();
      const month = datetime.getMonth() + 1;
      const day = datetime.getDate();

      return `${this.time} - ${day}/${month}/${year}`;
    },
  },
};
</script>

<style scoped lang="scss">
    @import "~@/styles/styles";

    .message {
        background-color: $bgColor;
        margin: 0.3rem 0;
        padding: 0.7rem 1rem;
        border-radius: 3px;

        h5 {
            text-shadow:
                    -0.05px -0.05px 0 #FFF,
                    0.05px -0.05px 0 #FFF,
                    -0.05px 0.05px 0 #FFF,
                    0.05px 0.05px 0 #FFF;
        }

        .message-content {
            position: relative;
            vertical-align: bottom;

            .text {
                word-break: break-word;
                white-space: pre-line;
            }

            .time-helper {
                margin-left: 2.9rem;
            }

            .time {
                cursor: help;
                color: #999;
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 0.7em;
                margin-left: 0.8rem;
            }

            .icon > * {
                color: #FFFFFF;
                font-size: 1.1em;
                margin-left: 0.3rem;
            }
        }

        &.primary {
            color: white;
            align-self: flex-end;

            .time {
                color: rgba(255, 255, 255, 0.6) !important;
            }

            .time-helper {
                margin-left: 3.6rem;
            }
        }
    }
</style>
