<template>
    <form class="textbox">
        <v-textarea
                v-model="message"
                solo
                class="input"
                hide-details
                rows="3"
                no-resize
                @keydown.enter.exact.prevent="onSend"
        />

        <v-btn
                flat
                icon
                color="primary"
                class="button"
                @click="onSend"
        >
            <v-icon>send</v-icon>
        </v-btn>
    </form>
</template>

<script>
export default {
  data: () => ({
    message: '',
  }),
  methods: {
    onSend() {
      const message = this.message.trim();

      if (!message) {
        return;
      }

      this.$emit('send', message);
      this.message = '';
    },
  },
};
</script>

<style scoped lang="scss"></style>
