<template>
    <div>
        <app-btn-responsive
                :onClick="toggle"
                :label="$t('rooms.create')"
                icon="add"
        />

        <app-btn-responsive
                :onClick="disconnect"
                :label="$t('disconnect')"
                icon="power_settings_new"
                color="error"
        />
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
import { mutationsTypes } from '@/store/modules/gui';
import CableService from '@/services/CableService';

export default {
  methods: {
    disconnect: CableService.disconnect,
    ...mapMutations('gui', {
      toggle: mutationsTypes.TOGGLE_CREATE_ROOM_DIALOG,
    }),
  },
};
</script>

<style scoped lang="scss"></style>
