<template>
    <div>
        <app-btn-responsive
                :onClick="onClickBack"
                :label="$t('rooms.plural')"
                icon="exit_to_app"
        />

        <app-btn-responsive
                icon="person"
                color="primary"
                :onClick="toggle"
                :hideLg="true"
        />
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
import { mutationsTypes } from '@/store/modules/gui';
import CableService from '@/services/CableService';
import { paths } from '@/config/router';

export default {
  methods: {
    onClickBack() {
      CableService.disconnectFromRoom();
      this.$router.push({ name: paths.ROOM_INDEX });
    },
    ...mapMutations('gui', {
      toggle: mutationsTypes.TOGGLE_USERS_DIALOG,
    }),
  },
};
</script>

<style scoped lang="scss"></style>
