<template>
    <v-dialog :value="showUsersDialog" persistent scrollable no-click-animation>
        <v-card>
            <v-card-title class="title pb-0">
                {{$t('users.connected')}}
            </v-card-title>

            <v-card-text>
                <room-chat-users-list
                        :self="username"
                        :users="users"
                />
            </v-card-text>

            <v-divider />

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="toggle">
                    {{$t('close')}}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import types from '@/types';
import RoomChatUsersList from '@/components/room/chat/RoomChatUsersList.vue';
import { mutationsTypes } from '@/store/modules/gui';

export default {
  props: {
    ...types.users,
  },
  components: { RoomChatUsersList },
  methods: {
    ...mapMutations('gui', {
      toggle: mutationsTypes.TOGGLE_USERS_DIALOG,
    }),
  },
  computed: {
    ...mapState('gui', ['showUsersDialog']),
    ...mapState('user', ['username']),
  },
};
</script>

<style scoped lang="scss"></style>
