<template>
    <v-list-tile @click="" :title="username" :class="{primary: isSelf}">
        <v-list-tile-avatar>
            <v-icon>person</v-icon>
        </v-list-tile-avatar>

        <v-list-tile-content>
            <v-list-tile-title v-text="username"></v-list-tile-title>
        </v-list-tile-content>
    </v-list-tile>
</template>

<script>
import types from '@/types';

export default {
  props: {
    ...types.user,
    isSelf: {
      type: Boolean,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
    .primary, .primary i {
        color: #FFF;
    }
</style>
