<template>
    <div>
        <v-card>
            <v-card-text class="content">
                <div class="chat-container">
                    <div class="messages-users">
                        <div
                                class="messages"
                                ref="messages"
                        >
                            <messages-list
                                    :messages="messages"
                                    :myself="myself"
                                    :colors="computedColors"
                            />
                        </div>

                        <div class="users">
                            <room-chat-users-list
                                    :users="users"
                                    :self="username"
                            />
                        </div>
                    </div>

                    <message-form @send="$emit('send', $event)" />
                </div>
            </v-card-text>
        </v-card>

        <room-chat-users-dialog :users="users" />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import RoomChatUsersDialog from '@/components/room/chat/RoomChatUsersDialog.vue';
import RoomChatUsersList from '@/components/room/chat/RoomChatUsersList.vue';
import MessagesList from '@/components/room/messages/MessagesList.vue';
import MessageForm from '@/components/room/messages/MessageForm.vue';
import types from '@/types';
import { randomColor } from '@/utils/utils';

export default {
  props: {
    ...types.room,
    myself: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    dialog: false,
    colors: {},
  }),
  components: {
    RoomChatUsersDialog,
    RoomChatUsersList,
    MessagesList,
    MessageForm,
  },
  computed: {
    ...mapState('user', ['username']),
    computedColors() {
      for (const { username } of this.messages) {
        if (!this.colors[username]) {
          this.colors[username] = randomColor();
        }
      }

      return this.colors;
    },
  },
};
</script>

<style scoped lang="scss">
    @import "~@/styles/styles";

    .content {
        padding: 0;
    }

    .chat-container {
        height: 75vh;
        min-height: 400px;
        display: flex;
        flex-flow: column nowrap;

        .messages-users {
            display: flex;
            flex: 1;

            .messages {
                flex: 5;
                padding: 1rem;
                overflow: auto;
            }

            .users {
                display: none; // On small devices
                flex: 2;
                border-left: 0.5px solid rgba(0, 0, 0, .12);
                background-color: #fafafa;
                overflow-y: auto;
                max-height: 100%;
                padding-left: 1px;

                .list {
                    background-color: inherit;
                }

                @media (min-width: $breakpointMD) {
                    display: block;
                }
            }
        }

        .textbox {
            border-top: 0.5px solid rgba(0, 0, 0, .12);
            padding: 0.5rem;
            background-color: #fafafa;
            display: flex;
            align-items: flex-end;

            .input {
                margin-top: 0;
                background-color: red;
            }

            .button {
                margin-left: 1.3rem;
            }
        }
    }
</style>
