<template>
    <v-list class="list" dense>
        <room-chat-users-list-item
                v-for="username of users"
                :key="username"
                :username="username"
                :is-self="self === username"
        />
    </v-list>
</template>

<script>
import RoomChatUsersListItem from '@/components/room/chat/RoomChatUsersListItem.vue';
import types from '@/types';

export default {
  props: {
    ...types.users,
    self: {
      type: String,
      required: true,
    },
  },
  components: { RoomChatUsersListItem },
};
</script>

<style scoped lang="scss">
</style>
