<template>
    <v-list class="pt-0 pb-0">
        <div v-for="room of rooms" :key="room.id">
            <room-list-item
                    v-bind="room"
                    :onClickRoom="onClickRoom"
            />

            <v-divider />
        </div>
    </v-list>
</template>

<script>
import RoomListItem from '@/components/room/list/RoomListItem.vue';

export default {
  props: {
    rooms: {
      type: Array,
      required: true,
    },
    onClickRoom: {
      type: Function,
      required: true,
    },
  },
  components: { RoomListItem },
};
</script>

<style scoped lang="scss"></style>
