<template>
    <div class="list-wrapper">
        <v-card :style="{ minHeight }">
            <room-list
                    v-if="rooms.length && !loading && !errors.length"
                    :rooms="rooms"
                    :onClickRoom="onClickRoom"
            />

            <div v-else class="center-content">
                <v-alert
                        v-if="errors.length"
                        :value="true"
                        outline
                >
                    <ul>
                        <li
                                v-for="(error, index) of errors"
                                :key="index"
                        >
                            {{error}}
                        </li>
                    </ul>

                </v-alert>

                <v-progress-circular
                        v-else-if="loading"
                        indeterminate
                        color="primary"
                />

                <v-alert
                        v-else
                        :value="true"
                        outline
                        type="info"
                >
                    {{$t('rooms.empty')}}
                </v-alert>
            </div>
        </v-card>

        <div v-if="pages" class="pagination-wrapper mt-2">
            <v-pagination v-model="page" :length="pages" @input="$emit('pagination', $event)" />
        </div>
    </div>
</template>

<script>
import RoomList from '@/components/room/list/RoomList.vue';
import { ITEMS_PER_PAGE } from '@/config/constants';

export default {
  data() {
    return {
      page: this.actualPage,
      minHeight: `${ITEMS_PER_PAGE * 49}px`,
    };
  },
  props: {
    rooms: {
      type: Array,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    errors: {
      type: Array,
      required: true,
    },

    // Actual page
    actualPage: {
      type: Number,
      required: true,
    },

    // Total pages
    pages: {
      type: Number,
      required: true,
    },

    // Listener for room item
    onClickRoom: {
      type: Function,
      required: true,
    },
  },
  components: { RoomList },
};
</script>

<style scoped lang="scss">
    .pagination-wrapper {
        text-align: center;
    }

    .center-content {
        padding: 5%;
        min-height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
