<template>
    <v-list-tile @click="onClick">
        <v-list-tile-avatar>
            <v-icon>meeting_room</v-icon>
        </v-list-tile-avatar>

        <v-list-tile-content>
            <v-list-tile-title v-text="name"></v-list-tile-title>
        </v-list-tile-content>
    </v-list-tile>
</template>

<script>
import types from '@/types';

export default {
  props: {
    ...types.room,
    onClickRoom: {
      type: Function,
      required: true,
    },
  },
  methods: {
    onClick() {
      const { id, name } = this;
      this.onClickRoom({ id, name });
    },
  },
};
</script>

<style scoped lang="scss"></style>
