<template>
    <login-layout :onSubmit="onSubmit" :isLoading="isLoading" :errors="usernameErrors" />
</template>

<script>
import { mapMutations } from 'vuex';
import { mutationsTypes as mutationsUsers } from '@/store/modules/user';
import { mutationsTypes as mutationsGui } from '@/store/modules/gui';
import LoginLayout from '@/components/login/LoginLayout.vue';
import CableService from '@/services/CableService';
import { paths } from '@/config/router';
import i18n from '@/i18n';

export default {
  components: { LoginLayout },
  data: () => ({
    isLoading: false,
    usernameErrors: [],
  }),
  methods: {
    /**
     * @param {Boolean} value
     */
    setLoading(value) {
      this.isLoading = value;
    },

    /**
     * @param {String} username
     */
    handleConnection(username) {
      this.setLoading(false);
      this.setUsername(username);
      this.$router.push({ name: paths.ROOM_INDEX });
    },

    /**
     * @param {Array} errors
     */
    handleErrors(errors) {
      this.setLoading(false);
      this.usernameErrors = errors;
    },

    /**
     * Redirect to login, remove username from store and show error message to user
     */
    onDisconnect() {
      this.openSnackbarOnDisconnect();
      this.$router.push({ name: paths.HOME });
      this.setUsername('');
    },

    /**
     * @param {String} username
     */
    onSubmit(username) {
      this.setLoading(true);
      this.usernameErrors = [];

      CableService.connect(
        username,
        this.handleConnection,
        this.handleErrors,
        this.onDisconnect
      );
    },

    openSnackbarOnDisconnect() {
      this.openSnackbar({
        text: i18n.t('errors.disconnect'),
        value: true,
      });
    },

    ...mapMutations('user', {
      setUsername: mutationsUsers.SET_USERNAME,
    }),

    ...mapMutations('gui', {
      openSnackbar: mutationsGui.OPEN_SNACKBAR,
    }),
  },
};
</script>
