<template>
    <div class="container">
        <h1>{{$t('404')}}</h1>
        <v-btn
                :to="{name: roomIndex}"
                color="primary"
        >
            <v-icon left>home</v-icon>
            {{$t('home')}}
        </v-btn>
    </div>
</template>

<script>
import { paths } from '@/config/router';

export default {
  data: () => ({
    roomIndex: paths.ROOM_INDEX,
  }),
};
</script>

<style scoped lang="scss">
    .container {
        text-align: center;
    }
</style>
