<template>
    <room-chat-layout
            ref="layout"
            v-bind="room"
            :myself="username"
            @send="onSend"
    />
</template>

<script>
import RoomChatLayout from '@/components/room/chat/RoomChatLayout.vue';
import CableService from '@/services/CableService';
import { mapState, mapMutations } from 'vuex';
import { mutationsTypes as roomMutations } from '@/store/modules/room';
import { mutationsTypes as guiMutations } from '@/store/modules/gui';

export default {
  data: () => ({
    goToBottom: false,
  }),

  components: { RoomChatLayout },

  created() {
    this.setTitle(this.room.name);
    CableService.connectToRoom(
      this.room.id,
      this.onSubscription,
      this.onMessage,
      this.onUser,
      this.onUserDisconnect,
    );
  },

  updated() {
    // After full re-rendered, scroll messages container to bottom if necessary
    this.$nextTick(this.scrollToBottom);
  },

  watch: {
    /**
     * Watch messages length, set `goToBottom` true if a new message was added
     */
    messages(newValue, oldValue) {
      if (!oldValue || newValue > oldValue) {
        this.goToBottom = true;
      }
    },
  },

  methods: {
    ...mapMutations('room', {
      updateRoom: roomMutations.UPDATE_ROOM,
      addMessage: roomMutations.ADD_MESSAGE,
      addUser: roomMutations.ADD_USER,
      removeUser: roomMutations.REMOVE_USER,
    }),

    ...mapMutations('gui', {
      setTitle: guiMutations.SET_TITLE,
    }),

    /**
     * Scroll messages container to bottom if `goToBottom` is true
     */
    scrollToBottom() {
      if (this.goToBottom) {
        const el = this.$refs.layout.$refs.messages;
        el.scrollTop = el.scrollHeight;
        this.goToBottom = false;
      }
    },

    /**
     * Callback for subscriptions to room
     * @param data
     */
    onSubscription(data) {
      this.updateRoom(data);
    },

    /**
     * Callback for new messages
     * @param message
     */
    onMessage(message) {
      this.addMessage(message);
    },

    /**
     * Callback for new connected users
     */
    onUser(user) {
      this.addUser(user.username);
    },

    /**
     * Callback for new connected users
     */
    onUserDisconnect(user) {
      this.removeUser(user.username);
    },

    /**
     * Send a new message to the server
     * @param message
     */
    onSend(message) {
      CableService.sendMessage(message);
    },
  },

  computed: {
    ...mapState('room', ['room', 'loadingRoom']),
    ...mapState('user', ['username']),

    /**
     * Compute the length of messages array
     * @returns {null|number}
     */
    messages() {
      return this.room.messages && this.room.messages.length;
    },
  },
};
</script>

<style scoped lang="scss">

</style>
