<script src="../services/ApiService.js"></script>
<template>
    <div>
        <room-list-layout
                :loading="loading"
                :rooms="rooms"
                :pages="pages"
                :actualPage="page"
                :errors="errors"
                :onClickRoom="goToRoom"
                @pagination="handlePagination"
        />

        <v-dialog :value="showRoomDialog" persistent scrollable no-click-animation>
            <room-create
                    :setRoom="goToRoom"
                    @closeDialog="toggleDialog"
            />
        </v-dialog>
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import RoomListLayout from '@/components/room/list/RoomListLayout.vue';
import RoomCreate from '@/components/room/create/RoomCreate.vue';
import { mutationsTypes as guiMutations } from '@/store/modules/gui';
import { actionsTypes, mutationsTypes as roomMutations } from '@/store/modules/room';
import { paths } from '@/config/router';
import { ITEMS_PER_PAGE } from '@/config/constants';

export default {
  data: () => ({
    // example rooms
    page: 1,
  }),
  components: { RoomListLayout, RoomCreate },
  created() {
    this.setTitle(this.$t('title.rooms'));
    this.fetchPageRooms();
  },
  methods: {
    ...mapMutations('gui', {
      toggleDialog: guiMutations.TOGGLE_CREATE_ROOM_DIALOG,
      setTitle: guiMutations.SET_TITLE,
    }),

    ...mapMutations('room', {
      setRoom: roomMutations.SET_ROOM,
    }),

    ...mapActions('room', {
      fetchRooms: actionsTypes.FETCH_ROOMS_PAGE,
    }),

    async fetchPageRooms() {
      await this.fetchRooms(this.page);
    },

    async handlePagination(value) {
      this.page = value;
      await this.fetchPageRooms();
    },

    goToRoom(room) {
      this.showRoomDialog && this.toggleDialog();
      this.setRoom(room);
      this.$router.push({ name: paths.ROOM, params: { id: room.id } });
    },
  },
  computed: {
    ...mapState('gui', ['showRoomDialog']),
    ...mapState('room', [
      'total',
      'rooms',
      'errors',
      'loading',
    ]),

    /**
     * Calculates the total number of pages
     * @returns {number}
     */
    pages() {
      if (!this.total) {
        return 0;
      }

      return Math.ceil(this.total / ITEMS_PER_PAGE);
    },
  },
};
</script>

<style scoped lang="scss"></style>
