<template>
    <v-btn
            v-on="onClick ? {click: onClick} : {}"
            class="app-btn"
            :class="{'hide-lg': hideLg}"
            :color="color"
            :type="type"
            :loading="loading"
    >
        <span class="app-btn-label">{{ label }}</span>
        <v-icon class="app-btn-icon" right>{{ icon }}</v-icon>
    </v-btn>
</template>

<script>
import types from '@/types';

export default {
  props: {
    hideLg: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },

    ...types.iconButton,
  },
};
</script>

<style scoped lang="scss">
    @import "~@/styles/styles";

    .app-btn {
        min-width: 0;
        padding-left: 0.7rem;
        padding-right: 0.7rem;

        .app-btn-label { display: none; }
        .app-btn-icon { margin-left: 0; }

        @media (min-width: $breakpointMD) {
            padding-left: 1rem;
            padding-right: 1rem;

            .app-btn-label { display: inline; }
            .app-btn-icon { margin-left: 16px; }
            &.hide-lg { display: none !important; }
        }
    }
</style>
