<template>
    <div class="wrapper">
        <v-text-field
                :value="value"
                @input="$emit('input', $event)"
                flat
                hide-details
                solo
                :placeholder="placeholder"
                :disabled="loading"
        />

        <app-btn-responsive v-bind="{onClick, label, icon, type, color, loading}" />
    </div>
</template>

<script>
import types from '@/types';

export default {
  props: {
    placeholder: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },

    ...types.iconButton,
  },
};
</script>

<style scoped lang="scss">
    .wrapper {
        display: flex;
        margin-top: 2rem;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
        0 2px 2px 0 rgba(0,0,0,.14),
        0 1px 5px 0 rgba(0,0,0,.12);

        button {
            height: 48px;
            margin: 0 0 0 -2px;
            box-shadow: none !important;
            border-radius: 0 2px 2px 0;
        }
    }
</style>
