<template>
    <div class="app-header mb-3">
        <div class="logo-area">
            <app-logo />
        </div>

        <div class="title-area">
            <app-title />
        </div>

        <div class="buttons-area">
            <slot />
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
    .app-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .logo-area {
            order: 1;
        }

        .title-area {
            text-align: center;
            word-break: break-word;
            order: 3;
            width: 100%;
        }

        .buttons-area {
            order: 2;
        }

        @media all and (min-width: 44rem) {
            text-align: left;

            .logo-area {
                width: auto;
            }

            .title-area {
                text-align: center;
                word-break: break-word;
                order: 1;
                width: auto;
            }
        }
    }
</style>
