<template>
    <img :width="size"
         :class="{center: center}"
         class="v-logo"
         src="@/assets/logo.svg"
         alt="Chat Logo"
    />
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      default: 80,
      validator: value => value > 0 && value <= 1080,
    },
    center: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
    .v-logo {
        max-width: 100%;
        height: auto;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
