<template>
    <div>
        <v-snackbar v-bind="snackbar" v-model="snackbar.value" >
            {{ snackbar.text }}
        </v-snackbar>
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import { mutationsTypes } from '@/store/modules/gui';

export default {
  methods: mapMutations('gui', [mutationsTypes.OPEN_SNACKBAR]),
  computed: mapState('gui', ['snackbar']),
};
</script>

<style scoped lang="scss"></style>
