<template>
    <h1 class="headline app-title">{{title}}</h1>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: mapState('gui', ['title']),
};
</script>

<style scoped lang="scss">
    @mixin size($level) {
        @media (min-width: $level * 4 + 22rem) {
            font-size: $level * 0.2 + 1.2rem !important;
        }
    }

    .app-title {
        font-size: 1.05rem !important;

        @include size(0);
        @include size(1);
        @include size(2);
        @include size(3);
    }
</style>
