<template>
    <div class="wrapper">
        <app-logo :size="180" center />
        <login-form :onSubmit="onSubmit" :isLoading="isLoading" :errors="errors" />
    </div>
</template>

<script>
import LoginForm from '@/components/login/LoginForm.vue';
import types from '@/types';

export default {
  props: {
    ...types.onSubmit,
    ...types.isLoading,
    ...types.errors,
  },
  components: { LoginForm },
};
</script>

<style scoped lang="scss">
    .wrapper {
        width: 90%;
        max-width: 30rem;
    }
</style>
