<template>
    <form @submit.prevent="handleSubmit" novalidate class="form">
        <app-field-with-button
                v-model="username"
                color="primary"
                icon="send"
                type="submit"
                :placeholder="$t('nick')"
                :label="$t('enter')"
                :loading="isLoading"
        />

        <!-- Display errors -->
        <transition name="scale">
            <v-alert class="errors-wrapper" v-if="totalErrors.length"
                     :value="true"
                     type="error"
            >
                <ul>
                    <li v-for="(error, index) of totalErrors" :key="index" >
                        {{ error|translate }}
                    </li>
                </ul>
            </v-alert>
        </transition>
    </form>
</template>

<script>
import types from '@/types';

export default {
  props: {
    ...types.onSubmit,
    ...types.isLoading,
    ...types.errors,
  },
  data: () => ({
    username: '',
    formErrors: [],
  }),
  methods: {
    handleSubmit() {
      this.username = this.username.trim();
      this.formErrors = [];

      // validate length
      this.username.length < 3 && this.formErrors.push(this.$t('errors.user.min'));
      this.username.length > 15 && this.formErrors.push(this.$t('errors.user.max'));

      // validate against regex
      !(/^[\wñÑ]+$/.test(this.username)) && this.formErrors.push(this.$t('errors.user.regex'));

      if (!this.formErrors.length) {
        this.onSubmit(this.username);
      }
    },
  },
  computed: {
    totalErrors() {
      return this.formErrors.length ? this.formErrors : this.errors;
    },
  },
};
</script>

<style scoped lang="scss">
    .form {
        position: relative;
    }

    .errors-wrapper {
        margin-top: 2rem;
        position: absolute;
        width: 100%;
    }

    .scale-enter-active, .scale-leave-active {
        transition: transform .5s;
    }
    .scale-enter, .scale-leave-to {
        transform: scaleY(0);
    }
</style>
