<template>
    <v-app class="app">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <router-view />
                </v-layout>
            </v-container>
        </v-content>

        <app-snackbar />
    </v-app>
</template>

<script>
export default {};
</script>

<style lang="scss">
    @import "~normalize.css";
    @import "styles/styles.scss";

    html {
        overflow-y: auto;
    }

    .app {
        background-color: $bgColor !important;
    }
</style>
