<template>
    <div class="main-layout-wrapper">
        <app-header>
            <router-view name="button" />
        </app-header>

        <router-view />
    </div>
</template>

<script>
export default {
};
</script>

<style scoped lang="scss">
    .main-layout-wrapper {
        width: 100%;
        max-width: 70rem;
    }
</style>
