<template>
    <v-card>
        <v-card-title class="headline" primary-title>
            {{$t('rooms.create')}}
        </v-card-title>

        <form novalidate @submit.prevent="checkForm">
            <v-card-text>
                <v-text-field
                        :label="$t('rooms.name')"
                        v-model="roomName"
                        :error-messages="errors"
                        :error-count="errors.length"
                        :loading="loading"
                />
            </v-card-text>

            <v-divider />

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        color="primary"
                        flat
                        type="submit"
                        :loading="loading"
                >
                    {{$t('save')}}
                </v-btn>

                <v-btn flat @click="$emit('closeDialog')" :disabled="loading">
                    {{$t('close')}}
                </v-btn>
            </v-card-actions>
        </form>
    </v-card>
</template>

<script>
import ApiService from '@/services/ApiService';
import translator from '@/config/translator';

export default {
  props: {
    setRoom: {
      type: Function,
      required: true,
    },
  },
  data: () => ({
    roomName: '',
    errors: [],
    loading: false,
  }),
  methods: {
    async checkForm() {
      this.loading = true;
      this.errors = [];
      this.roomName = this.roomName.trim();

      // validate length
      this.roomName.length < 4 && this.errors.push(this.$t('errors.room.min'));
      this.roomName.length > 25 && this.errors.push(this.$t('errors.room.max'));

      // validate against regex
      !(/^[\wñÑ ]+$/.test(this.roomName)) && this.errors.push(this.$t('errors.room.regex'));

      if (this.errors.length) {
        this.loading = false;
        return;
      }

      const { id, name, errors } = await ApiService.createRoom(this.roomName);

      this.loading = false;

      if (errors) {
        this.errors = errors.map(err => translator(err));
      } else {
        this.setRoom({ id, name });
      }
    },
  },
};
</script>

<style scoped lang="scss"></style>
